ol, ul {
	list-style: none;
}
@font-face {
	font-family: 'montserratlight';
	src: url('../fonts/montserrat-light.woff2') format('woff2'),
	url('../fonts/montserrat-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9998;
	background: #1c2a33;
}
.cssload-loader * {
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.cssload-loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 85px;
	height: 85px;
	
	/*margin-top: -42px;*/
	margin-left: -42px;
	
	perspective: 170px;
	transform-type: preserve-3d;
	-o-transform-type: preserve-3d;
	-ms-transform-type: preserve-3d;
	-webkit-transform-type: preserve-3d;
	-moz-transform-type: preserve-3d;
}

.cssload-square {
	
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	
	width: 100%;
	height: 100%;
	
	perspective: 255px;
	-o-perspective: 255px;
	-ms-perspective: 255px;
	-webkit-perspective: 255px;
	-moz-perspective: 255px;
	transform-type: preserve-3d;
	-o-transform-type: preserve-3d;
	-ms-transform-type: preserve-3d;
	-webkit-transform-type: preserve-3d;
	-moz-transform-type: preserve-3d;
	transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
}
.cssload-square--mini {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 25%;
	height: 25%;
	
	margin-top: 0;
	margin-left: 0;
	
	perspective: 170px;
	-o-perspective: 170px;
	-ms-perspective: 170px;
	-webkit-perspective: 170px;
	-moz-perspective: 170px;
	transform-type: preserve-3d;
	-o-transform-type: preserve-3d;
	-ms-transform-type: preserve-3d;
	-webkit-transform-type: preserve-3d;
	-moz-transform-type: preserve-3d;
	transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform: translateZ(85px) rotateX(20deg) rotateY(-10deg);
	-o-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg);
	-ms-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg);
	-webkit-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg);
	-moz-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg);
	
	background-color: rgb(24,207,170);
	
	animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
	-o-animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
	-ms-animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
	-webkit-animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
	-moz-animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
}

.cssload-square--mini:nth-child(4n+2) {
	left: 25%;
}

.cssload-square--mini:nth-child(4n+3) {
	left: 50%;
}

.cssload-square--mini:nth-child(4n+4) {
	left: 75%;
}

.cssload-square--mini:nth-child(5),
.cssload-square--mini:nth-child(6),
.cssload-square--mini:nth-child(7),
.cssload-square--mini:nth-child(8) {
	top: 25%;
}

.cssload-square--mini:nth-child(9),
.cssload-square--mini:nth-child(10),
.cssload-square--mini:nth-child(11),
.cssload-square--mini:nth-child(12) {
	top: 50%;
}

.cssload-square--mini:nth-child(13),
.cssload-square--mini:nth-child(14),
.cssload-square--mini:nth-child(15),
.cssload-square--mini:nth-child(16) {
	top: 75%;
}

.cssload-square--mini:nth-child(2),
.cssload-square--mini:nth-child(5) {
	animation-delay: 115ms;
	-o-animation-delay: 115ms;
	-ms-animation-delay: 115ms;
	-webkit-animation-delay: 115ms;
	-moz-animation-delay: 115ms;
}

.cssload-square--mini:nth-child(3),
.cssload-square--mini:nth-child(6),
.cssload-square--mini:nth-child(9) {
	animation-delay: 230ms;
	-o-animation-delay: 230ms;
	-ms-animation-delay: 230ms;
	-webkit-animation-delay: 230ms;
	-moz-animation-delay: 230ms;
}

.cssload-square--mini:nth-child(4),
.cssload-square--mini:nth-child(7),
.cssload-square--mini:nth-child(10),
.cssload-square--mini:nth-child(13) {
	animation-delay: 345ms;
	-o-animation-delay: 345ms;
	-ms-animation-delay: 345ms;
	-webkit-animation-delay: 345ms;
	-moz-animation-delay: 345ms;
}

.cssload-square--mini:nth-child(8),
.cssload-square--mini:nth-child(11),
.cssload-square--mini:nth-child(14) {
	animation-delay: 460ms;
	-o-animation-delay: 460ms;
	-ms-animation-delay: 460ms;
	-webkit-animation-delay: 460ms;
	-moz-animation-delay: 460ms;
}

.cssload-square--mini:nth-child(12),
.cssload-square--mini:nth-child(15) {
	animation-delay: 575ms;
	-o-animation-delay: 575ms;
	-ms-animation-delay: 575ms;
	-webkit-animation-delay: 575ms;
	-moz-animation-delay: 575ms;
}

.cssload-square--mini:nth-child(16) {
	animation-delay: 690ms;
	-o-animation-delay: 690ms;
	-ms-animation-delay: 690ms;
	-webkit-animation-delay: 690ms;
	-moz-animation-delay: 690ms;
}

@media (max-width: 1200px){
    .navbar-mobile{
    max-height: 340px;
    overflow: scroll;}
    
    .grid-item img{
        width: 100%;
    }
}

.header .menu_nav{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	font-weight: 700;
    width:100%}

.header.sticky .navbar{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;  
	background: rgba(35, 87, 97, 0.64);

}
.header .navbar{
    background-color: rgba(77, 58, 35, 0.64);
    border:0px;
    border-radius:0px;
    width:100%;
    padding-top:0;
    padding-bottom:0}

.navbar-toggler{
        border:none;
        border-radius:0px;
        padding:0px;
        cursor:pointer;
        margin-top:27px;
        margin-bottom:23px}

.navbar-toggler[aria-expanded="false"] span:nth-child(2){
        opacity:1}
.navbar-toggler[aria-expanded="true"] span:nth-child(2){
        opacity:0}
.navbar-toggler[aria-expanded="true"] span:first-child{
        transform:rotate(-45deg);
        position:relative;
        top:7.5px}
.navbar-toggler[aria-expanded="true"] span:last-child{
        transform:rotate(45deg);
        bottom:6px;
        position:relative}
.navbar-toggler span{
        display:block;
        width:25px;
        height:3px;
        background:#18cfab;
        margin:auto;
        margin-bottom:4px;
        transition:all 400ms linear;
        cursor:pointer}

.header .navbar .nav .nav-item{
    margin-right:38px}
.header .navbar .nav .nav-item .nav-link{
   
    color:#fff;
    /*text-transform:;*/
    /*font-weight:400;*/
    padding:33px 0;
    display:inline-block}
.header .navbar .nav .nav-item .nav-link:after{
    display:none}
.header .navbar .nav .nav-item:hover .nav-link,
.header .navbar .nav .nav-item .nav-link.active{
	 padding-bottom: 30px;
    border-bottom: 1px solid #18cfab;
    color:#18cfab;
    opacity:1}

.header .navbar .nav .nav-item .nav-link.active, .heaer .navbar .nav .nav-item .nav-link.active:hover, .heaer .navbar .nav .nav-item .nav-link.active:focus{
    color: #18cfab;
    padding-bottom: 30px;
    border-bottom: 1px solid #18cfab;
    background: transparent;

}

.container-fluid{
	padding-right: 0;
	padding-left: 0;
	overflow-x: hidden;
}

.home{
	position:relative;
	text-align: center;
	color: #e9e5db;	
}

.oneslide img {
	width: 100%;
	display: block;
	position: relative;
	height: auto;	
}
.maincontent{
	position: absolute;	
	top: 26%;
	width: 100%;	
}
.maincontent h1{	
	font-size: 35px;	
	line-height: 40px;	
	padding-bottom: 30px;
	text-transform: uppercase;
}
.maincontent h2{	
	font-size: 79px;	
	line-height: 65px;	
	padding-bottom: 30px;
	text-transform: uppercase;
}
.maincontent p.headp{	
	font-size: 34px;	
	color: #d4d4d4;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}
span.theme-sign{
	color: #18cfab;
}
.maincontent button,.portfolio button,.ready-ad button,.theme button{
	outline: 0;
	border:none;
	font-size: 13px;
	width: 166px;
	height: 60px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	background-color: #18cfab;
	border-radius: 5px;
	border-top: 5px solid #fff;
	margin: 140px 10px 0;
}
.maincontent button.purchase{
	background-color: #00cbf6;
}
.maincontent button.explore:hover,.ready-ad button:hover,.theme button:hover{
	background-color: #00cbf6;
	transition:all 0.5s;
}
.maincontent button.purchase:hover{
	background-color: #18cfab;
	transition:all 0.5s;
}

.about-element div{
	width: 100%;
	float: left;
	color: #fff;
	background-color: #18cfab;
	text-align: center;
	border-top: 7px solid #fff; 
	min-height: 365px;
}
.about-element{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.about-element div img{
	margin-top: 80px;
}
.about-element div.innerlight{
	color: #18cfab;
	background-color: #1c2a33;
	border-top: 7px solid #18cfab; 
}
.about-element div h3{
	text-transform: uppercase;
	font-size: 20px;
	padding-top: 45px;
}

/*For animations*/
/*.os-animation {
	opacity: 0;
}
.os-animation.animated {
	opacity: 1;
}*/

.features, .service, .news, .price, .team{
	padding: 100px 0;
	color: #4e4e4e;
	text-align: center;
}
.features img, .portfolio img, .service img, .news img, .price img, .testimonial img, .team img{
	margin: 0 auto;
	display: block;
}
.features h2, .portfolio h2, .service h2, .news h2, .price h2, .testimonial h2, .team h2, .contact h2{
	font-size: 36px;
	font-weight: 400;	
	line-height: 40px;
	padding-bottom: 30px;
}

.features .feature{
	padding-top: 65px;
	text-align: left;
	cursor: pointer;
}
.features .feature:hover h4{
	color: #18cfab;
	transition:all 0.5s;
}

.features .feature h4{
	font-size: 18px;
	line-height: 40px;
	color: #717171;
}
.features .feature h4 i{
	font-size: 30px;
	margin-right: 10px;
	position: relative;
	top: 5px;
	color: #18cfab;
}

.about-company{
	background: #090f14 url(../img/aboutcompany.jpg) no-repeat center center;
	padding: 50px 0 0;
	width: 100%;
	background-size:cover;
}

.innerabout{
	text-align: left;
	width: 50%;
	float: left;
	color: #fff;
}

.about-company img.tablte{
	width: 100%;
	display: block;
	margin-left: 0;
	padding-right: 55px;
	margin-top: 70px;
}

.tab-links:after ,.s-tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li{
	margin: 70px 25px 60px 0;
	list-style: none;
	display: inline-block;
}

.tab-links a{
	border-top:2px solid rgba(0,0,0,0);
	padding-top: 5px;
	display:inline-block;	
	font-size:16px;
	color:#fff;
	transition:all linear 0.15s;
	text-decoration:none;	
}

.tab-links a:hover {
	transition:all 0.5s; 
	color: #20bc9d;	
	border-top:2px solid #20bc9d;
}

ul.tab-links li.active a:hover{	
	color: #fff; 
	transition:all 0.5s; 
}
ul.tab-links li.active a{
	transition:all 0.5s; 
	color: #20bc9d;
	border-top:2px solid #20bc9d;
}
ul.s-tab-links{
	border: 1px solid #ebebeb;
}
.s-tab-links li{
	list-style: none;
	width: 16.66%;
	float: left;
	padding: 25px 0;
	border-right:1px solid #ebebeb; 
}
.s-tab-links li a{
	padding: 25px 0;
	text-decoration: none;	
	color: #717171;
	font-size: 16px;
	font-weight: 400;
}
.s-tab-links li:hover {
	transition:all 0.5s; 	
	background:#20bc9d;		
	cursor: pointer;
	border-right:1px solid #20bc9d; 
}
.s-tab-links li:hover  a{
	transition:all 0.5s;
	color: #fff;
}
ul.s-tab-links li.s-active{
	transition:all 0.5s; 	
	background-color:#20bc9d;
	cursor: pointer;
	position: relative;
	border-right:1px solid #20bc9d; 
}
ul.s-tab-links li.s-active:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #20bc9d;
	border-width: 10px;
	margin-left: -10px;
}
ul.s-tab-links li.s-active a{
	color: #fff;
}
.tab-content{	
	border-radius:3px;
	max-width: 560px;
	width: 100%;
	/*box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
}
.tab,.s-tab{
	display:none;
}
.tab.active,.s-tab.s-active {
	display:block;
}
p.tabp{
	font-size: 14px;
	color: #777777;
	font-weight: 400;
}
.skills-wrap span {
	display:block;
	position: relative;
	font-size: 13px;
	font-weight: 400;
	text-transform:uppercase;
	color: #fff;
	line-height: 41px;
	margin-left: 15px;
	
}
.skillbar {  
	position:relative;  
	display:block;  
	margin-bottom:15px;  
	width:100%;  
	border: 1px solid #959595;
	height:40px;  
	border-radius:3px;  
	-moz-border-radius:3px;  
	-webkit-border-radius:3px;  
	-webkit-transition:0.4s linear;  
	-moz-transition:0.4s linear;  
	-ms-transition:0.4s linear;  
	-o-transition:0.4s linear;  
	transition:0.4s linear;  
	-webkit-transition-property:width, background-color;  
	-moz-transition-property:width, background-color;  
	-ms-transition-property:width, background-color;  
	-o-transition-property:width, background-color;  
	transition-property:width, background-color;  
}
.skillbar-bar { 
	width:0px; 
	height: 41px;	
	position: relative;
	top: -2px;
	left: -2px;
	border-radius:3px;  
	-moz-border-radius:3px;  
	-webkit-border-radius:3px;  
}

.portfolio{
	padding: 100px 0;
	color: #4e4e4e;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
}

.portfoliolist .portfolio-element {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	display: none;
	width:25%;
	float:left; 
}
.portfolio .portfolio-element img{
	width: 100%;
	display: block;
}
.imagehover{    
	position: absolute;    
	font-size: 22px;  
	width: 100%;  
	margin: 0 auto;
	background: #fff; 
	color: #fff;
	border-top: 3px solid #18cfab;
	bottom: 0;  
	top: 0;
	right: 0;
	left: 0;
	visibility: hidden; 
	opacity: 0;    
	transition: all 0.5s;
	cursor: pointer;
	padding: 40px 0;
}
.portfoliohover:hover .imagehover{
	visibility: visible;
	opacity: 1;
}
.portfoliohover{
	position: relative;
}
.imagehover i{
	color: #18cfab;
	border: 1px solid #18cfab;
	background-color: #fff;
	font-size: 16px;
	width: 42px;
	height: 42px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	margin: 0 2px;
}
.imagehover i:hover{
	background-color: #18cfab;
	color: #fff;
	transition:all 0.5s; 
}
p.smallp{
	font-family: 'montserratlight';
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	color: #8a8a8a;
}

.portfolio h3{
	font-size: 14px;
	line-height: 25px;
	color: #18cfab;
	text-transform: uppercase;
	padding: 30px 0 0;
}
.portfolio button.loadmore{
	border-top: none;
	border: 2px solid #18cfab;
	color: #fff;
	font-size: 14px;
	margin-top: 70px
}
.portfolio button.loadmore i{
	margin-right: 10px;
}
.portfolio button.loadmore:hover{
	background-color: #fff;
	color: #18cfab;
	transition:all 0.5s; 
}
.filters {
	margin: 6% 6% 6% 20%;
	padding:0;
	list-style:none;
	border: 1px solid #ebebeb;
}

.filters li {
	float:left;
	display: inline-block;
}

.filters li span {
	display: inline-block;
	padding: 15px 25px;
	text-decoration:none;
	color:#717171;
	cursor: pointer;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	border-top: 2px solid rgba(0,0,0,0);
	border-right: 1px solid #ebebeb;
	/*margin: 0 5px;*/
}
.filters li span.active {
	color: #18cfab;
	border-top: 2px solid #18cfab;
	transition: all 0.5s;
} 
.filters li span:hover{
	color: #18cfab;
	border-top: 2px solid #18cfab;
	transition: all 0.5s;
}
.s-new-menu{
	padding: 60px 0 30px;
}
.tabs,.s-tabs{
	width:100%;
	display:inline-block;
}
.tab-links:after ,.s-tab-links:after {
	display:block;
	clear:both;
	content:'';
}
ul.s-tab-links{
	padding-left: 0px;
	border: 1px solid #ebebeb;
}
.s-tab-links li{
	list-style: none;
	width: 16.66%;
	float: left;
	padding: 25px 0;
	border-right:1px solid #ebebeb; 
}
.s-tab-links li a{
	padding: 25px 0;
	text-decoration: none;	
	color: #717171;
	font-size: 16px;
	font-weight: 400;
}
.s-tab-links li:hover {
	transition:all 0.5s; 	
	background:#20bc9d;		
	cursor: pointer;
	border-right:1px solid #20bc9d; 
}
.s-tab-links li:hover  a{
	transition:all 0.5s;
	color: #fff;
}
ul.s-tab-links li.s-active{
	transition:all 0.5s; 	
	background-color:#20bc9d;
	cursor: pointer;
	position: relative;
	border-right:1px solid #20bc9d; 
}
ul.s-tab-links li.s-active:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #20bc9d;
	border-width: 10px;
	margin-left: -10px;
}
ul.s-tab-links li.s-active a{
	color: #fff;
}
p.innerp{
	font-size: 14px;
	line-height: 25px;
	font-family: 'montserratlight';
	color: #777777;
	font-weight: normal;
}
.service p.innerp{
	line-height: 24px;
	text-align: justify;;
	margin-left: 15px;
}
.ready-ad{
	background: #40474b url(../img/banner2.jpg) no-repeat center center;
	padding: 120px 0;
	text-align: center;
	background-size:cover;
}
.ready-ad h3{
	font-size: 40px;
	line-height: 40px;
	color: #18cfab;
	text-transform: uppercase;
}
.ready-ad button{
	margin-top: 70px;
}
.ready-ad p.innerp{
	color: #d8d8d8;
	font-size: 16px;
	line-height: 30px;
}
.newsdate{
	background-color: #203e38;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	text-align: center;	
	width: 70px;
	padding: 10px 0;
	position: absolute;
	right: 0;
}
.innernews{
	border: 1px solid #ececec;
	padding-left: 15px;
}
.toppad{
	padding-top: 40px;
}
.news .news-section:hover .newsdate{
	background-color: #18cfab;
	transition:all 0.5s; 	
}
.news .news-section {
    text-align: left;
    position: relative;
    padding-top: 30px;
    cursor: pointer;
}
.news .news-section:hover h4{
	color: #18cfab;
	transition:all 0.5s; 	
}
.price article{
	width: 25%;
	float: left;
	border: 1px solid #eceeef;
	border-radius:5px; 
	margin-top: 65px;
}
.price article:nth-child(1),.price article:nth-child(2),.price article:nth-child(3){
	border-right: 0;
}
.price h3{
	font-size: 24px;
	line-height: 39px;
	color: #717171;
	padding: 10px;
}
.price h4{
	font-size: 39px;
	color: #fff;
	line-height: 55px;
	padding-top: 5px;
	background-color: #2e4a5b;
	margin-bottom: 10px;
}
.price h4 span.month{
	font-size: 14px;
	font-family: 'montserratlight';
	font-weight: normal;
}
.price p.smallp{
	font-size: 14px;
	line-height: 46px;
	border-top: 1px solid #eceeef;
}
.price article p.smallp:nth-child(8){
	border-bottom: 1px solid #eceeef;
}
.price button.bye{
	font-size: 14px;
	width: 170px;
	height: 50px;
	color: #fff;
	background-color: #2e4a5b;
	border-radius: 5px;
	border: 1px solid #fff;
	margin: 23px 0;
}
.price article:hover {
	cursor: pointer;
	box-shadow: 2px 2px 10px 3px #C9C9C9;
	-webkit-box-shadow: 2px 2px 10px 3px #C9C9C9;
	-moz-box-shadow: 2px 2px 10px 3px #C9C9C9;
	transition: all 0.5s;
}
.price article:hover h4,.price article:hover button.bye{
	background-color: #18cfab;
	transition: all 0.5s;
}
.price article:hover h3{
	color: #18cfab;
	transition: all 0.5s;
}
.offer img {
	position: absolute;
	right: 0;
}
.offer{
	position: relative;
}
.testimonial{
	padding: 100px 0;
	background: #2e404d url(../img/testimonial.jpg) no-repeat center center;
	text-align: center;
	background-size:cover;
	color: #fff;
}
.testimonial .item i{
	color: #18cfab;
	padding-bottom: 20px;
}
.testimonial .item{
	padding: 60px 0 0;
}
.testimonial .item img{
	margin-top: 25px;
}
.testimonial .item p,.testimonial .item span{
	font-size: 16px;
	line-height: 20px;
	color: #bbbbbb;
	font-weight: 400;
}
.testimonial .item span{
	font-size: 13px;
}
.testimonial .item h5{
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	color: #18cfab;
	font-weight: 400;
	padding-top: 20px;
}
.testimonial .bx-wrapper .bx-prev {
	left: 28%;
	background: url(../img/left2.png) no-repeat;
}
.testimonial .bx-wrapper .bx-next {
	right: 28%;
	background: url(../img/right2.png) no-repeat;
}
.testimonial .bx-wrapper .bx-prev:hover{
	background: url(../img/left2-hover.png) no-repeat;
}
.testimonial .bx-wrapper .bx-next:hover{
	background: url(../img/right2-hover.png) no-repeat;
}
.testimonial .bx-wrapper .bx-controls-direction a{
	top: 120%;
	width: 31px;
	height: 31px;
}

.testimonial .bx-pager{
	margin-top: 50px;
}
.testimonial .bx-pager img{
	width: 65px;
	height: auto;
	display: inline-block;
	margin: 0 15px;
}
.testimonial a.active img {
	width: 65px;
	height: auto;
	margin: 0;
	top: -15px;
	position: relative;
	border-radius: 50%;
}
.imagdiv{
	position: relative;
}
.imagehover-team{    
	position: absolute;  
	width: 100%;  
	margin: 0 auto;
	background: rgba(140,154,163,0.5); 
	color: #fff;	
	bottom: 0;  
	top: 0;
	right: 0;
	left: 0;
	visibility: hidden; 
	opacity: 0;    
	transition: all 0.5s;
	cursor: pointer;
	padding: 65px 0;
}
.imagehover-team i{
	color: #18cfab;	
	background-color: #fff;
	width: 70px;
	height: 70px;
	line-height: 72px;
	text-align: center;
	border-radius: 50%;	
	margin-top: 3px;
}
.team article img{
	width: 100%;
}
.team article{
	padding-top: 65px;
	cursor: pointer;
}
.team article .innertesti{
	text-align: left;
	background-color: #2e4a5b;
	color: #fff;
	padding:15px 0 15px 15px;
}
.team article h4{
	line-height: 25px;
	color: #fff;
}
.team article p.innerp{
	color: #18cfab;
	padding: 0;
}
.team article .social i{
	width: 25%;
	float: left;
	height: 65px;
	background-color: #2e4a5b;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	text-align: center;
	line-height: 65px;
	color: #fff;
}
.team article .social i:nth-child(4){
	border-right: 0;
}
.team article:hover .imagehover-team{
	visibility: visible;
	opacity: 1;
}
.team article:hover .innertesti,.team article:hover  .social i{
	background-color: #18cfab;
	transition: all 0.5s;
}
.team article:hover p.innerp{
	color: #2e4a5b;
	transition: all 0.5s;
}
.circle-team{
	border: 2px solid #18cfab;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin: 0 auto;
}
.theme{
	background: #233641 url(../img/theme.jpg) no-repeat center center;
	text-align: center;
	padding: 120px 0 25px;
	width: 100%;
	background-size:cover; 
}
.theme h3{
	color: #fff;
	font-size: 45px;
	line-height: 55px;
	text-transform: uppercase;
}
.theme h4{
	color: #18cfab;
	font-weight: 400;
	font-size: 45px;
	line-height: 55px;
	text-transform: uppercase;
}
.innertheme{
	width: 90%;
	float: left;
}
.theme img.laptop{
	width: 100%;
	display: block;
	margin-top: 125px;
}
.theme h3{
	color: #fff;
	font-size: 45px;
	line-height: 55px;
	text-transform: uppercase;
}
.theme h4{
	color: #18cfab;
	font-weight: 400;
	font-size: 45px;
	line-height: 55px;
	text-transform: uppercase;
}
.theme ul{
	padding-top: 100px;
}
.theme ul li{
	text-align: left;	
	font-family: 'montserratlight';
	font-weight: normal;
	margin: 5px 0;
}
.theme ul li a{
	text-decoration: none;
	font-size: 14px;
	line-height: 35px;
	color: #fff;
}

.theme ul li i{
	background-color: #18cfab;
	color: #233641;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;		
	margin-right: 20px;
}
.theme button{
	float: left;
	margin: 0;
	margin-top: 65px;
}
.contact{
	padding: 120px 0;
	color: #4e4e4e;
}
.contact h2{
	padding-bottom: 10px;
}
.contact img{
	margin-left: 90px;
}
.contact .message{
	text-align: left;
}
.contact input,textarea{
	outline: 0;
	padding-left: 15px;
	width: 100%;
	height: 55px;
	font-size: 14px;
	font-family: 'montserratlight';
	font-weight: normal;
	color:#90aebd;
	border: 1px solid #d4e0de;
	margin-bottom:15px; 
}
textarea{
	height: 180px;
	padding-top: 10px;
}
.contact input:focus,textarea:focus{
	border:1px solid  #18cfab;
}
.contact form{
	margin-top: 70px;
}
.map,.messaage{
	width: 50%;
	float: left;
}
.map iframe{
	max-width: 940px;
	width: 100%;
	min-height: 550px;
}
.contact .message{
	text-align: left;
}
.message{
	max-width: 580px;
	width: 100%;
	min-height: 550px;
	display: inline-block;
	margin-left: 15px;
}
button.btnsubmit {
	outline: 0;
	border: none;
	font-size: 14px;
	width: 100%;
	height: 60px;
	color: #fff;
	background-color: #18cfab;
	border-radius: 5px;
	border: 2px solid #18cfab;
	border-bottom: 5px solid #08bf9b;
}
button.btnsubmit:hover{
	background-color: #fff;
	color: #18cfab;
	transition:all 0.5s;
}
.newsletter{
	background-color: #1d2c33;
	padding: 120px 0;
}
.newsletter p.innerp{
	font-family: 'montserratlight';
	font-weight: normal;	
	font-size: 14px;
	line-height: 24px;
	color: #b2b2b2;
	padding: 25px 0 70px;
}
.newsletter h6{
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #ffff;	
}
.newsletter p.finnerp{
	font-family: 'montserratlight';
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #b2b2b2;	
}
h6.ftop{
	padding-top: 25px;
}
.newsletter h6 span.finnerp{
	display: inline-block;
	font-family: 'montserratlight';
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #b2b2b2;	
}
.newsletter h4{
	font-size: 18px;
	line-height: 26px;
	padding-bottom: 15px;
	color: #ffff;
}
.newsletter h5{
	font-size: 16px;
	text-transform: uppercase;
	color: #ffff;
}
.newsletter article.post,.newsletter div.tags{
	padding: 30px 0 20px;
	border-bottom: 1px solid #294453;
}
.newsletter article.post:last-child{
	border: none;
}
.newsletter article.post p.innerp{
	font-family: 'montserratlight';
	font-weight: normal;
	font-size: 14px;
	line-height: 25px;
	color: #b2b2b2;	
	padding: 0;
}
span.datespan{
	font-family: 'montserratlight';
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	color: #f1f1f1;
}
.newsletter div.tags a{
	text-decoration: none;
	font-family: 'montserratlight';
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5px;
	display: inline-block;
	color: #c2c0c0;	
	text-align: center;
	padding: 10px 0;
	width: 70px;
	height: 40px;
	border: 1px solid #acacac;
}
.newsletter article.letter h4{
	padding-top: 25px;
}
.newsletter article.letter p.innerp{
	padding: 25px 0 10px;
}
.newsletter article.letter input{
	background-color: #22353f;
	border: 1px solid #22353f;
	color: #fff;
	width: 190px;
	height: 40px;
	outline: 0;
	font-family: 'montserratlight';
	font-weight: normal;
	font-size: 14px;
	padding-left: 10px;
}
.newsletter article.letter input:focus{
	border:1px solid  #18cfab;
}
.newsletter article.letter button.btngo{
	background-color: #294453;
	border: 1px solid #294453;
	color: #18cfab;
	padding: 7px 10px;
	outline: 0;
	font-size: 14px;
	margin-left: -4px;	
}
.newsletter article.letter button.btngo:hover{
	border:1px solid  #18cfab;
	transition:all 0.5s;
}

.newsletter article.post:hover h5,footer a:hover{
	color: #18cfab;
	cursor: pointer;
	transition: all 0.5s;
}

.newsletter div.tags a:hover{
	border: 1px solid #18cfab;
	background-color: #18cfab;
	color: #fff;
	transition: all 0.5s;
}
footer{
	background-color: #22353f;
	color: #aeaeae;
	font-size: 14px;
	font-family: 'montserratlight';
	font-weight: normal;
	text-align: center;
	padding: 50px 0;
}
footer a{
	text-decoration: none;
	color: #aeaeae;
}
.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #18CFAB;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}
@keyframes cssload-squaremini {
	0%, 100% {
		transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(24,207,170);
	}
	12.5%, 62.5% {
		transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(34,141,120);
	}
	25%, 75% {
		transform: translateZ(85px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(34,141,120);
	}
	37.5% {
		transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(90,162,148);
	}
	50% {
		transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(90,162,148);
	}
	87.5% {
		transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(24,207,170);
	}
}

@-o-keyframes cssload-squaremini {
	0%, 100% {
		-o-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(24,207,170);
	}
	12.5%, 62.5% {
		-o-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(34,141,120);
	}
	25%, 75% {
		-o-transform: translateZ(85px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(34,141,120);
	}
	37.5% {
		-o-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(90,162,148);
	}
	50% {
		-o-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(90,162,148);
	}
	87.5% {
		-o-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(24,207,170);
	}
}

@-ms-keyframes cssload-squaremini {
	0%, 100% {
		-ms-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(24,207,170);
	}
	12.5%, 62.5% {
		-ms-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(34,141,120);
	}
	25%, 75% {
		-ms-transform: translateZ(85px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(34,141,120);
	}
	37.5% {
		-ms-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(90,162,148);
	}
	50% {
		-ms-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(90,162,148);
	}
	87.5% {
		-ms-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(24,207,170);
	}
}

@-webkit-keyframes cssload-squaremini {
	0%, 100% {
		-webkit-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(24,207,170);
	}
	12.5%, 62.5% {
		-webkit-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(34,141,120);
	}
	25%, 75% {
		-webkit-transform: translateZ(85px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(34,141,120);
	}
	37.5% {
		-webkit-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(90,162,148);
	}
	50% {
		-webkit-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(90,162,148);
	}
	87.5% {
		-webkit-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(24,207,170);
	}
}

@-moz-keyframes cssload-squaremini {
	0%, 100% {
		-moz-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(24,207,170);
	}
	12.5%, 62.5% {
		-moz-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(34,141,120);
	}
	25%, 75% {
		-moz-transform: translateZ(85px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(34,141,120);
	}
	37.5% {
		-moz-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(90,162,148);
	}
	50% {
		-moz-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(90,162,148);
	}
	87.5% {
		-moz-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(24,207,170);
	}
}
