ol, ul {
	list-style: none;
}
@font-face {
	font-family: 'montserratlight';
	src: url('../fonts/montserrat-light.woff2') format('woff2'),
	url('../fonts/montserrat-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9998;
	background: #1c2a33;
}
.cssload-loader * {
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.cssload-loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 85px;
	height: 85px;
	
	/*margin-top: -42px;*/
	margin-left: -42px;
	
	perspective: 170px;
	transform-type: preserve-3d;
	-o-transform-type: preserve-3d;
	-ms-transform-type: preserve-3d;
	-webkit-transform-type: preserve-3d;
	-moz-transform-type: preserve-3d;
}

.cssload-square {
	
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	
	width: 100%;
	height: 100%;
	
	perspective: 255px;
	-o-perspective: 255px;
	-ms-perspective: 255px;
	-webkit-perspective: 255px;
	-moz-perspective: 255px;
	transform-type: preserve-3d;
	-o-transform-type: preserve-3d;
	-ms-transform-type: preserve-3d;
	-webkit-transform-type: preserve-3d;
	-moz-transform-type: preserve-3d;
	transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
}
.cssload-square--mini {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 25%;
	height: 25%;
	
	margin-top: 0;
	margin-left: 0;
	
	perspective: 170px;
	-o-perspective: 170px;
	-ms-perspective: 170px;
	-webkit-perspective: 170px;
	-moz-perspective: 170px;
	transform-type: preserve-3d;
	-o-transform-type: preserve-3d;
	-ms-transform-type: preserve-3d;
	-webkit-transform-type: preserve-3d;
	-moz-transform-type: preserve-3d;
	transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform: translateZ(85px) rotateX(20deg) rotateY(-10deg);
	-o-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg);
	-ms-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg);
	-webkit-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg);
	-moz-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg);
	
	background-color: rgb(24,207,170);
	
	animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
	-o-animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
	-ms-animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
	-webkit-animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
	-moz-animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
}

.cssload-square--mini:nth-child(4n+2) {
	left: 25%;
}

.cssload-square--mini:nth-child(4n+3) {
	left: 50%;
}

.cssload-square--mini:nth-child(4n+4) {
	left: 75%;
}

.cssload-square--mini:nth-child(5),
.cssload-square--mini:nth-child(6),
.cssload-square--mini:nth-child(7),
.cssload-square--mini:nth-child(8) {
	top: 25%;
}

.cssload-square--mini:nth-child(9),
.cssload-square--mini:nth-child(10),
.cssload-square--mini:nth-child(11),
.cssload-square--mini:nth-child(12) {
	top: 50%;
}

.cssload-square--mini:nth-child(13),
.cssload-square--mini:nth-child(14),
.cssload-square--mini:nth-child(15),
.cssload-square--mini:nth-child(16) {
	top: 75%;
}

.cssload-square--mini:nth-child(2),
.cssload-square--mini:nth-child(5) {
	animation-delay: 115ms;
	-o-animation-delay: 115ms;
	-ms-animation-delay: 115ms;
	-webkit-animation-delay: 115ms;
	-moz-animation-delay: 115ms;
}

.cssload-square--mini:nth-child(3),
.cssload-square--mini:nth-child(6),
.cssload-square--mini:nth-child(9) {
	animation-delay: 230ms;
	-o-animation-delay: 230ms;
	-ms-animation-delay: 230ms;
	-webkit-animation-delay: 230ms;
	-moz-animation-delay: 230ms;
}

.cssload-square--mini:nth-child(4),
.cssload-square--mini:nth-child(7),
.cssload-square--mini:nth-child(10),
.cssload-square--mini:nth-child(13) {
	animation-delay: 345ms;
	-o-animation-delay: 345ms;
	-ms-animation-delay: 345ms;
	-webkit-animation-delay: 345ms;
	-moz-animation-delay: 345ms;
}

.cssload-square--mini:nth-child(8),
.cssload-square--mini:nth-child(11),
.cssload-square--mini:nth-child(14) {
	animation-delay: 460ms;
	-o-animation-delay: 460ms;
	-ms-animation-delay: 460ms;
	-webkit-animation-delay: 460ms;
	-moz-animation-delay: 460ms;
}

.cssload-square--mini:nth-child(12),
.cssload-square--mini:nth-child(15) {
	animation-delay: 575ms;
	-o-animation-delay: 575ms;
	-ms-animation-delay: 575ms;
	-webkit-animation-delay: 575ms;
	-moz-animation-delay: 575ms;
}

.cssload-square--mini:nth-child(16) {
	animation-delay: 690ms;
	-o-animation-delay: 690ms;
	-ms-animation-delay: 690ms;
	-webkit-animation-delay: 690ms;
	-moz-animation-delay: 690ms;
}

@media (max-width: 1200px){
    .navbar-mobile{
    max-height: 340px;
    overflow: scroll;}
    
    .grid-item img{
        width: 100%;
    }
}

.header .menu_nav{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	font-weight: 700;
    width:100%}

.header.sticky .navbar{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;  
	background: rgba(35, 87, 97, 0.64);

}
.header .navbar{
    background-color: rgba(77, 58, 35, 0.64);
    border:0px;
    border-radius:0px;
    width:100%;
    padding-top:0;
    padding-bottom:0}

.navbar-toggler{
        border:none;
        border-radius:0px;
        padding:0px;
        cursor:pointer;
        margin-top:27px;
        margin-bottom:23px}

.navbar-toggler[aria-expanded="false"] span:nth-child(2){
        opacity:1}
.navbar-toggler[aria-expanded="true"] span:nth-child(2){
        opacity:0}
.navbar-toggler[aria-expanded="true"] span:first-child{
        transform:rotate(-45deg);
        position:relative;
        top:7.5px}
.navbar-toggler[aria-expanded="true"] span:last-child{
        transform:rotate(45deg);
        bottom:6px;
        position:relative}
.navbar-toggler span{
        display:block;
        width:25px;
        height:3px;
        background:#18cfab;
        margin:auto;
        margin-bottom:4px;
        transition:all 400ms linear;
        cursor:pointer}

.header .navbar .nav .nav-item{
    margin-right:38px}
.header .navbar .nav .nav-item .nav-link{
   
    color:#fff;
    /*text-transform:;*/
    /*font-weight:400;*/
    padding:33px 0;
    display:inline-block}
.header .navbar .nav .nav-item .nav-link:after{
    display:none}
.header .navbar .nav .nav-item:hover .nav-link,
.header .navbar .nav .nav-item .nav-link.active{
	 padding-bottom: 30px;
    border-bottom: 1px solid #18cfab;
    color:#18cfab;
    opacity:1}

.header .navbar .nav .nav-item .nav-link.active, .heaer .navbar .nav .nav-item .nav-link.active:hover, .heaer .navbar .nav .nav-item .nav-link.active:focus{
    color: #18cfab;
    padding-bottom: 30px;
    border-bottom: 1px solid #18cfab;
    background: transparent;

}

.container-fluid{
	padding-right: 0;
	padding-left: 0;
	overflow-x: hidden;
}

.home{
	position:relative;
	text-align: center;
	color: #e9e5db;	
}

.oneslide img {
	width: 100%;
	display: block;
	position: relative;
	height: auto;	
}
.maincontent{
	position: absolute;	
	top: 26%;
	width: 100%;	
}
.maincontent h1{	
	font-size: 35px;	
	line-height: 40px;	
	padding-bottom: 30px;
	text-transform: uppercase;
}
.maincontent h2{	
	font-size: 79px;	
	line-height: 65px;	
	padding-bottom: 30px;
	text-transform: uppercase;
}
.maincontent p.headp{	
	font-size: 34px;	
	color: #d4d4d4;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}
span.theme{
	color: #18cfab;
}
.maincontent button,.portfolio button,aside button,.theme button{
	outline: 0;
	border:none;
	font-size: 13px;
	width: 166px;
	height: 60px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	background-color: #18cfab;
	border-radius: 5px;
	border-top: 5px solid #fff;
	margin: 140px 10px 0;
}
.maincontent button.purchase{
	background-color: #00cbf6;
}
.maincontent button.explore:hover,aside button:hover,.theme button:hover{
	background-color: #00cbf6;
	transition:all 0.5s;
}
.maincontent button.purchase:hover{
	background-color: #18cfab;
	transition:all 0.5s;
}

.about-element div{
	width: 100%;
	float: left;
	color: #fff;
	background-color: #18cfab;
	text-align: center;
	border-top: 7px solid #fff; 
	min-height: 365px;
}
.about-element{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.about-element div img{
	margin-top: 80px;
}
.about-element div.innerlight{
	color: #18cfab;
	background-color: #1c2a33;
	border-top: 7px solid #18cfab; 
}
.about-element div. h3{
	text-transform: uppercase;
	font-size: 20px;
	padding-top: 45px;
}

/*For animations*/
/*.os-animation {
	opacity: 0;
}
.os-animation.animated {
	opacity: 1;
}*/

.features{
	padding: 100px 0;
	color: #4e4e4e;
	text-align: center;
}
.features img, .portfolio img{
	margin: 0 auto;
	display: block;
}
.features h2, .portfolio h2{
	font-size: 36px;
	font-weight: 400;	
	line-height: 40px;
	padding-bottom: 30px;
}

.features .feature{
	padding-top: 65px;
	text-align: left;
	cursor: pointer;
}
.features .feature:hover h4{
	color: #18cfab;
	transition:all 0.5s;
}

.features .feature h4{
	font-size: 18px;
	line-height: 40px;
	color: #717171;
}
.features .feature h4 i{
	font-size: 30px;
	margin-right: 10px;
	position: relative;
	top: 5px;
	color: #18cfab;
}

.about-company{
	background: #090f14 url(../img/aboutcompany.jpg) no-repeat center center;
	padding: 50px 0 0;
	width: 100%;
	background-size:cover;
}

.innerabout{
	text-align: left;
	width: 50%;
	float: left;
	color: #fff;
}

.about-company img.tablte{
	width: 100%;
	display: block;
	margin-left: 0;
	padding-right: 55px;
	margin-top: 70px;
}

.tab-links:after ,.s-tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li{
	margin: 70px 25px 60px 0;
	list-style: none;
	display: inline-block;
}

.tab-links a{
	border-top:2px solid rgba(0,0,0,0);
	padding-top: 5px;
	display:inline-block;	
	font-size:16px;
	color:#fff;
	transition:all linear 0.15s;
	text-decoration:none;	
}

.tab-links a:hover {
	transition:all 0.5s; 
	color: #20bc9d;	
	border-top:2px solid #20bc9d;
}

ul.tab-links li.active a:hover{	
	color: #fff; 
	transition:all 0.5s; 
}
ul.tab-links li.active a{
	transition:all 0.5s; 
	color: #20bc9d;
	border-top:2px solid #20bc9d;
}
ul.s-tab-links{
	border: 1px solid #ebebeb;
}
.s-tab-links li{
	list-style: none;
	width: 16.66%;
	float: left;
	padding: 25px 0;
	border-right:1px solid #ebebeb; 
}
.s-tab-links li a{
	padding: 25px 0;
	text-decoration: none;	
	color: #717171;
	font-size: 16px;
	font-weight: 400;
}
.s-tab-links li:hover {
	transition:all 0.5s; 	
	background:#20bc9d;		
	cursor: pointer;
	border-right:1px solid #20bc9d; 
}
.s-tab-links li:hover  a{
	transition:all 0.5s;
	color: #fff;
}
ul.s-tab-links li.s-active{
	transition:all 0.5s; 	
	background-color:#20bc9d;
	cursor: pointer;
	position: relative;
	border-right:1px solid #20bc9d; 
}
ul.s-tab-links li.s-active:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #20bc9d;
	border-width: 10px;
	margin-left: -10px;
}
ul.s-tab-links li.s-active a{
	color: #fff;
}
.tab-content{	
	border-radius:3px;
	max-width: 560px;
	width: 100%;
	/*box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
}
.tab,.s-tab{
	display:none;
}
.tab.active,.s-tab.s-active {
	display:block;
}
p.tabp{
	font-size: 14px;
	color: #777777;
	font-weight: 400;
}
.skills-wrap span {
	display:block;
	position: relative;
	font-size: 13px;
	font-weight: 400;
	text-transform:uppercase;
	color: #fff;
	line-height: 41px;
	margin-left: 15px;
	
}
.skillbar {  
	position:relative;  
	display:block;  
	margin-bottom:15px;  
	width:100%;  
	border: 1px solid #959595;
	height:40px;  
	border-radius:3px;  
	-moz-border-radius:3px;  
	-webkit-border-radius:3px;  
	-webkit-transition:0.4s linear;  
	-moz-transition:0.4s linear;  
	-ms-transition:0.4s linear;  
	-o-transition:0.4s linear;  
	transition:0.4s linear;  
	-webkit-transition-property:width, background-color;  
	-moz-transition-property:width, background-color;  
	-ms-transition-property:width, background-color;  
	-o-transition-property:width, background-color;  
	transition-property:width, background-color;  
}
.skillbar-bar { 
	width:0px; 
	height: 41px;	
	position: relative;
	top: -2px;
	left: -2px;
	border-radius:3px;  
	-moz-border-radius:3px;  
	-webkit-border-radius:3px;  
}

.portfolio{
	padding: 100px 0;
	color: #4e4e4e;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
}

.portfoliolist .portfolio-element {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	display: none;
	width:25%;
	float:left; 
}
.portfolio .portfolio-element img{
	width: 100%;
	display: block;
}
.imagehover{    
	position: absolute;    
	font-size: 22px;  
	width: 100%;  
	margin: 0 auto;
	background: #fff; 
	color: #fff;
	border-top: 3px solid #18cfab;
	bottom: 0;  
	top: 0;
	right: 0;
	left: 0;
	visibility: hidden; 
	opacity: 0;    
	transition: all 0.5s;
	cursor: pointer;
	padding: 40px 0;
}
.portfoliohover:hover .imagehover{
	visibility: visible;
	opacity: 1;
}
.portfoliohover{
	position: relative;
}
.imagehover i{
	color: #18cfab;
	border: 1px solid #18cfab;
	background-color: #fff;
	font-size: 16px;
	width: 42px;
	height: 42px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	margin: 0 2px;
}
.imagehover i:hover{
	background-color: #18cfab;
	color: #fff;
	transition:all 0.5s; 
}
p.smallp{
	font-family: 'montserratlight';
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	color: #8a8a8a;
}

.portfolio h3{
	font-size: 14px;
	line-height: 25px;
	color: #18cfab;
	text-transform: uppercase;
	padding: 30px 0 0;
}
.portfolio button.loadmore{
	border-top: none;
	border: 2px solid #18cfab;
	color: #fff;
	font-size: 14px;
	margin-top: 70px
}
.portfolio button.loadmore i{
	margin-right: 10px;
}
.portfolio button.loadmore:hover{
	background-color: #fff;
	color: #18cfab;
	transition:all 0.5s; 
}
.filters {
	margin: 6% 6% 6% 20%;
	padding:0;
	list-style:none;
	border: 1px solid #ebebeb;
}

.filters li {
	float:left;
	display: inline-block;
}

.filters li span {
	display: inline-block;
	padding: 15px 25px;
	text-decoration:none;
	color:#717171;
	cursor: pointer;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	border-top: 2px solid rgba(0,0,0,0);
	border-right: 1px solid #ebebeb;
	/*margin: 0 5px;*/
}
.filters li span.active {
	color: #18cfab;
	border-top: 2px solid #18cfab;
	transition: all 0.5s;
} 
.filters li span:hover{
	color: #18cfab;
	border-top: 2px solid #18cfab;
	transition: all 0.5s;
}
@keyframes cssload-squaremini {
	0%, 100% {
		transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(24,207,170);
	}
	12.5%, 62.5% {
		transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(34,141,120);
	}
	25%, 75% {
		transform: translateZ(85px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(34,141,120);
	}
	37.5% {
		transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(90,162,148);
	}
	50% {
		transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(90,162,148);
	}
	87.5% {
		transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(24,207,170);
	}
}

@-o-keyframes cssload-squaremini {
	0%, 100% {
		-o-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(24,207,170);
	}
	12.5%, 62.5% {
		-o-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(34,141,120);
	}
	25%, 75% {
		-o-transform: translateZ(85px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(34,141,120);
	}
	37.5% {
		-o-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(90,162,148);
	}
	50% {
		-o-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(90,162,148);
	}
	87.5% {
		-o-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(24,207,170);
	}
}

@-ms-keyframes cssload-squaremini {
	0%, 100% {
		-ms-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(24,207,170);
	}
	12.5%, 62.5% {
		-ms-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(34,141,120);
	}
	25%, 75% {
		-ms-transform: translateZ(85px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(34,141,120);
	}
	37.5% {
		-ms-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(90,162,148);
	}
	50% {
		-ms-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(90,162,148);
	}
	87.5% {
		-ms-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(24,207,170);
	}
}

@-webkit-keyframes cssload-squaremini {
	0%, 100% {
		-webkit-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(24,207,170);
	}
	12.5%, 62.5% {
		-webkit-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(34,141,120);
	}
	25%, 75% {
		-webkit-transform: translateZ(85px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(34,141,120);
	}
	37.5% {
		-webkit-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(90,162,148);
	}
	50% {
		-webkit-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(90,162,148);
	}
	87.5% {
		-webkit-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(24,207,170);
	}
}

@-moz-keyframes cssload-squaremini {
	0%, 100% {
		-moz-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(24,207,170);
	}
	12.5%, 62.5% {
		-moz-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(34,141,120);
	}
	25%, 75% {
		-moz-transform: translateZ(85px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(34,141,120);
	}
	37.5% {
		-moz-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(90,162,148);
	}
	50% {
		-moz-transform: translateZ(85px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(90,162,148);
	}
	87.5% {
		-moz-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(24,207,170);
	}
}
